@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap&family=Quicksand:wght@300;500;700&family=Raleway:wght@100;300;400;500;600;700&display=swap");

:root {
  --primaryColor: #006fcc;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.2rem;
}
* {
  box-sizing: border-box;
}
.text-title {
  font-family: "Raleway", sans-serif;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.text-main {
  color: var(--primaryColor);
}
.main-link {
  padding: 0.5rem 1.5rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--primaryColor);
  outline-offset: 0px;
  border: none;
}
.main-link:disabled {
  cursor: not-allowed;
}

.main-link:hover {
  background: var(--mainGrey);
  text-decoration: none;
  color: var(--primaryColor);
}
#logout:hover {
  background: #ef4f4f;
}
body {
  font-family: "Quicksand", sans-serif;
}
App {
  min-height: 100%;
}
.cart-icon {
  cursor: pointer;
}
